/* [ START ] Main Rules */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Inter', sans-serif;
	background-color: #0a0c1c;
	min-height: 100dvh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	padding: 0 24px;
}
/* [ END ] Main Rules */

/* [ START ] Main Section Style */
main {
	overflow: hidden;
	box-shadow: 0px 20px 20px -10px rgba(23, 25, 41, 0.2);
	border-radius: 8px;
}
main article {
	display: flex;
}
@media screen and (max-width: 768px) {
	main article {
		flex-direction: column-reverse;
		text-align: center;
		max-width: 327px;
	}
}
main article section:first-of-type {
	max-width: 570px;
	padding: 71px 95px 59px 72px;
	background: #1b1937;
}
@media screen and (max-width: 768px) {
	main article section:first-of-type {
		padding: 40px 31px 32px;
	}
}
main article section h1 {
	font-size: 2rem;
	font-weight: 700;
	line-height: 1.375;
	margin-bottom: 25px;
}
@media screen and (max-width: 768px) {
	main article section h1 {
		font-size: 28px;
		line-height: 1.1428;
		margin-bottom: 16px;
	}
}
main article section h1 span {
	color: #ab5cdb;
}
main article section p {
	font-size: 15px;
	line-height: 1.666;
	margin-bottom: 72px;
	max-width: 346px;
	opacity: 0.75;
}
@media screen and (max-width: 768px) {
	main article section p {
		margin-bottom: 40px;
	}
}
main article section ul {
	list-style: none;
	display: flex;
	column-gap: 60px;
}
@media screen and (max-width: 768px) {
	main article section ul {
		flex-direction: column;
		row-gap: 24px;
	}
}
main article section ul li {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.2104;
	display: flex;
	flex-direction: column;
	row-gap: 2px;
}
main article section ul li:first-of-type {
	margin-right: 3px;
}
main article section ul span {
	font-family: 'Lexend Deca', sans-serif;
	letter-spacing: 1px;
	font-size: 12px;
	font-weight: 400;
	line-height: 2.083;
	text-transform: uppercase;
	opacity: 0.6;
}
main article section:last-of-type {
	background-color: #ab5cdb;
	opacity: 0.5;
}
main article section img:first-of-type {
	display: block;
}
@media screen and (max-width: 768px) {
	main article section img:first-of-type {
		display: none;
	}
}
main article section img:last-of-type {
	display: none;
}
@media screen and (max-width: 768px) {
	main article section img:last-of-type {
		display: block;
		max-width: 327px;
		height: 100%;
	}
}

/* [ END ] Main Section Style */
